<template>
  <section>
    <v-parallax :src="paralaxUrl" :height="imageSize / 1.5">
      <v-layout v-if="error">
        <app-alert @dismissed="onDismissed" :text="error"></app-alert>
      </v-layout>
      <v-layout
        column
        align-center
        justify-center
        class="white--text">
        <h1 class="white--text mb-2 display-1 text-xs-center">{{ paralax.desc }}</h1>
        <div class="subheading mb-3 text-xs-center" v-if="!userLogged">
          <router-link to="/signin" class="white--text"> Sign In </router-link>
          or
          <router-link to="/signup" class="white--text"> Sign Up </router-link>
          {{ paralax.misc }}
        </div>
        <div class="subheading mb-3 text-xs-center" v-else>
          Feel free to Explore The Meetups!
        </div>
        <div class="subheading mb-3 text-xs-center">
          {{ paralax.add }}
        </div>
        <div v-if="!userLogged">
          <v-btn
            class="blue lighten-2 mt-5"
            dark
            large
            route to="/home">
            {{ paralax.buttonEx }}
          </v-btn>
        </div>
      </v-layout>
      <v-layout
        column
        align-center
        justify-center
        class="white--text">
        <app-home></app-home>
      </v-layout>
    </v-parallax>
    </section>
</template>

<script>
  export default {
    computed: {
      paralax () {
        return this.$store.getters.getParalax
      },
      paralaxUrl () {
        return this.$store.getters.getParalaxUrl
      },
      userLogged () {
        return this.$store.getters.userIsLoggedIn
      },
      error () {
        return this.$store.getters.getError
      },
      meetups () {
        return this.$store.getters.getFeaturedMeetups
      },
      loading () {
        return this.$store.getters.getLoading
      },
      imageSize () {
        let image = new Image()
        image.src = this.paralaxUrl
        return image.height
      }
    },
    methods: {
      onDismissed () {
        console.log(this.error)
        this.$store.dispatch('clearError')
      }
    },
    created () {
      this.$store.dispatch('loadMeetUps')
    }
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    font-family: Roboto, serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
  }
</style>
