<template>
  <v-alert error dismissible @input="onClose" :value="true" class="text-xs-center">
    {{ text }}
  </v-alert>
</template>

<script>
  export default {
    props: ['text'],
    methods: {
      onClose () {
        this.$emit('dismissed')
      }
    },
    computed: {
    }
  }
</script>
