<template>
    <v-container class="pa-5">
      <v-layout row wrap class="mb-2" v-if="user">
        <v-flex xs12 sm6 class="text-sm-right text-xs-center">
          <v-btn large router to="/meetups" class="info">Explore Meetups!</v-btn>
        </v-flex>
        <v-flex xs12 sm6 class="text-sm-left text-xs-center">
          <v-btn large router to="/meetup/create" class="info">Organize Meetups</v-btn>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs12 class="text-xs-center">
          <v-progress-linear indeterminate class="white" v-if="loading"></v-progress-linear>
        </v-flex>
      </v-layout>
      <v-layout row wrap v-if="!loading">
        <v-flex xs12>
          <template>
            <v-carousel style="cursor: pointer">
              <v-carousel-item
                v-for="item in meetups"
                :src="item.imageUrl"
                :key="item.id"
                @click="onLoadMeetup(item.id)">
                <div class="title">
                  {{ item.title }}
                </div>
              </v-carousel-item>
            </v-carousel>
          </template>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="mt-2">
        <v-flex xs12 class="text-xs-center white--text">
          <div>
            <h3>Join our awesome Meetups!</h3>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
</template>


<script>
  export default {
    computed: {
      meetups () {
        return this.$store.getters.getFeaturedMeetups
      },
      loading () {
        return this.$store.getters.getLoading
      },
      user () {
        return this.$store.getters.userIsLoggedIn
      }
    },
    methods: {
      onLoadMeetup (id) {
        this.$router.push('/meetups/' + id)
      }
    }
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    font-family: Roboto, serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
  }
</style>
