<template>
  <section class="my-bck">
    <v-parallax src="https://raw.githubusercontent.com/vuetifyjs/parallax-starter/master/template/assets/hero.jpeg" height="800">
    <v-layout
      column
      align-center
      justify-center
      class="white--text">
      <h1 class="white--text mb-2 display-1 text-xs-center">Sucessfuly logged out!</h1>
      <div>Thank you for using our Application!</div>
      <v-btn
        class="blue lighten-2 mt-5"
        dark
        large
        route to="/">
        Home!
      </v-btn>
    </v-layout>
    </v-parallax>
  </section>
</template>

<script>
  export default {
    computed: {
      logout () {
        return this.$store.getters.getLogoutSection
      },
      paralaxUrl () {
        return this.$store.getters.getParalaxUrl
      }
    },
    created () {
      this.$store.dispatch('logoutUser')
    }
  }
</script>
