<template>
  <main class="my-bck">
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3 v-if="error">
        <app-alert @dismissed="onDismissed" :text="error"></app-alert>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-text>
            <v-container>
              <form @submit.prevent="signIn">
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="email"
                      label="Mail"
                      id="email"
                      v-model="email"
                      type="email"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="password"
                      label="Password"
                      id="password"
                      v-model="password"
                      type="password"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-btn
                    type="submit"
                    color="info"
                    :loading="loading"
                    @click.native="loader = 'loading'"
                    :disabled="loading">
                    Sign Up!
                    <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                      </span>
                  </v-btn>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  </main>
</template>


<script>
  export default {
    data () {
      return {
        password: '',
        email: ''
      }
    },
    computed: {
      user () {
        return this.$store.getters.getUser
      },
      error () {
        return this.$store.getters.getError
      },
      loading () {
        return this.$store.getters.getLoading
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/home')
        }
      }
    },
    methods: {
      signIn () {
        const user = {
          email: this.email,
          password: this.password
        }
        this.$store.dispatch('signIn', user)
      },
      onDismissed () {
        console.log(this.error)
        this.$store.dispatch('clearError')
      }
    }
  }
</script>
