<template>
  <v-app>
    <v-navigation-drawer temporary :value="showNav">
      <v-list>
        <v-list-tile  v-for="item in menuItems" :key="item.title" router :to="item.link">
          <v-list-tile-action>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            {{ item.title }}
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark class="primary">
      <v-toolbar-side-icon @click.stop="changeState" class="hidden-sm-and-up "></v-toolbar-side-icon>
      <v-toolbar-title>
        <router-link to="/home" tag="span" style="cursor: pointer">Meetup Project!</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat v-for="item in menuItems" :key="item.title" router :to="item.link">
          <v-icon left dark>{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
      <router-view></router-view>
  </v-app>
</template>

<script>
  export default {
    computed: {
      showNav () {
        return this.$store.getters.getSideNavShow
      },
      menuItems () {
        return this.$store.getters.getMenuItems(this.userExists)
      },
      user () {
        return this.$store.getters.getUser
      },
      userExists () {
        return this.$store.getters.userIsLoggedIn
      }
    },
    methods: {
      changeState (payload) {
        this.$store.dispatch('showHideNavbar', payload)
      }
    }
  }

</script>

<style>

</style>
