<template>
  <main class="my-bck">
  <v-container text-xs-center>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <h4>Create Meetup!</h4>
        <form @submit.prevent="saveMeetup">
          <v-layout row>
            <v-flex xs12 sm8 offset-sm2>
              <v-text-field
                name="title"
                label="Title"
                id="title"
                v-model="title"
                required
                >
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout column>
            <v-flex xs12 sm8 offset-sm2 class="text-xs-center">
              <v-btn
                color="info"
                dark
                @click="onPickFile">
                Upload
                <v-icon right dark>cloud_upload</v-icon>
              </v-btn>
              <input type="file"
                     style="display: none"
                     ref="fileInput"
                     accept="image/*"
                     @change="onFilePicked">
            </v-flex>
          </v-layout>
          <v-layout row align-center>
            <v-flex xs12 sm8 offset-sm2 class="text-xs-center">
            <img :src="imageUrl" id="img" height="180px">
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm8 offset-sm2>
              <v-text-field
                name="desc"
                label="Description"
                id="desc"
                v-model="desc"
                required
                multi-line
                >
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm8 offset-sm2>
              <v-text-field
                name="location"
                label="Location"
                id="location"
                v-model="location"
                required
                >
              </v-text-field>
            </v-flex>
          </v-layout >
          <v-layout row align-center>
            <v-flex xs12 sm6 offset-sm3 class="text-xs-center">
              <h5>Choose date & time!</h5>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12 sm6 offset-sm3 class="mt-2">
              <v-dialog
                persistent
                v-model="modal"
                lazy
                full-width
              >
                <v-text-field
                  slot="activator"
                  label="Picker in dialog"
                  v-model="date"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="date" scrollable actions>
                  <template slot-scope="{ save, cancel }">
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                      <v-btn flat color="primary" @click="save">OK</v-btn>
                    </v-card-actions>
                  </template>
                </v-date-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs12 sm6 offset-sm3 class="mt-2">
              <v-dialog
                persistent
                v-model="modal2"
                lazy
                full-width
              >
                <v-text-field
                  slot="activator"
                  label="Picker in dialog"
                  v-model="time"
                  prepend-icon="access_time"
                  readonly
                ></v-text-field>
                <v-time-picker v-model="time" actions format="24hr">
                  <template slot-scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                      <v-btn flat color="primary" @click="save">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>
          <v-layout row align-center>
            <v-flex class="mt-2 text-xs-center">
              <v-btn class="primary"
                     :disabled="!isValid"
                      type="submit">Create Meetup!</v-btn>
            </v-flex>
          </v-layout>
        </form>
    </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  </main>
</template>


<script>
  export default {
    data () {
      return {
        title: '',
        desc: '',
        imageUrl: '',
        location: '',
        date: new Date(),
        time: new Date().toLocaleString(['en-EN'], {hour: '2-digit', minute: '2-digit'}),
        menu: false,
        modal: false,
        menu2: false,
        modal2: false
      }
    },
    computed: {
      isValid () {
        return this.title !== '' && this.location !== '' && this.data !== '' && this.imageUrl !== ''
      },
      formatedDateTime () {
        const date = new Date(this.date)
        if (typeof this.time === 'string') {
          let hours = this.time.match(/^(\d+)/)[1]
          const minutes = this.time.match(/:(\d+)/)[1]
          date.setHours(hours)
          date.setMinutes(minutes)
        } else {
          date.setHours(this.time.getHours())
          date.setMinutes(this.time.getMinutes())
        }
        return date
      }
    },
    methods: {
      saveMeetup () {
        if (!this.isValid) {
          return
        }
        const payload = {
          title: this.title,
          desc: this.desc,
          imageUrl: this.imageUrl,
          location: this.location,
          date: this.formatedDateTime
        }
        this.$store.dispatch('saveMeetup', payload)
        this.$router.push('/meetups')
      },
      onPickFile () {
        this.$refs.fileInput.click()
      },
      onFilePicked () {
        const img = event.target.files
        let fileName = img[0].filename
        if (fileName.lastIndexOf('.') <= 0) {
          return alert('Please upload valid file')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.imageUrl = fileReader.result
        })
      }
    }
  }
</script>
