<template>
  <main class="my-bck">
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h6 class="primary--text">{{ item.title }}</h6>
          </v-card-title>
          <v-card-media :src="item.imageUrl" height="600px">
          </v-card-media>
          <v-card-text>
            <div>
              <div class="info--text"><b>{{ item.date | filterDate }} - {{ item.location }}</b></div>
              <div class="text-sm-justify">
                {{ item.desc }}
              </div>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="primary">Register!</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  </main>
</template>

<script>
  export default {
    props: ['id'],
    computed: {
      item () {
        return this.$store.getters.getMeetup(this.id)
      }
    }
  }
</script>
