<template>
  <main class="my-bck">
    <v-container>
      <v-layout row wrap row v-for="item in meetups" :key="item.id" class="mb-2">
        <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
          <v-card class="info">
            <v-container flud>
              <v-layout>
                <v-flex xs6 sm5 md3>
                  <v-card-media :src="item.imageUrl" height="130px">
                  </v-card-media>
                </v-flex>
                <v-flex xs7 dm8 md9>
                  <v-card-title primary-title>
                    <div>
                      <h5 class="white--text mb-0">{{item.title}}</h5>
                      <div>{{item.date | filterDate }}</div>
                    </div>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn flat :to="'/meetups/' + item.id">
                      <v-icon>arrow_forward</v-icon>
                      View this Meetup!
                    </v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </main>
</template>


<script>
  export default {
    computed: {
      meetups () {
        return this.$store.getters.getMeetUps
      }
    }
  }
</script>
